.wrapper h1,
p {
  color: var(--color-black);
  font-family: var(--font-family-main);
}

.wrapper {
  width: 50vw;
  display: flex;
  padding: 10px;
}
.wrapper__photo {
  height: 300px;
}

.wrapper__photo_planet {
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.wrapper__info {
  background: var(--color-white);
  width: 50%;
  text-align: center;
  text-shadow: var(--text-shadow-yellow);
  border-radius: 0 15px 15px 0;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper__info {
    width: 300px;
    border-radius: 0;
  }
}
