.input1 {
  border: none;
  border-bottom: 1px solid black;
}

input {
  margin-right: 32px;
  width: 280px;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
  height: 35px;
  border: none;
}

input::placeholder {
  color: #1b1b1b;
}
.input1::placeholder {
  transition: 0.5s;
  color: var(--theme-default-header);
}
.input1:hover {
  border: 2px solid var(--color-blue);
}
.input1:focus {
  border: 2px solid var(--color-blue);
}
.input1:focus::placeholder {
  font-size: 12px;
  line-height: 20px;
  transform: translateY(-12px);
  color: var(--theme-default-header);
}
