.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--margin30);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list a {
  display: block;
  margin: 0 10px;
  padding: 7px 10px;
  min-width: 70px;
  color: var(--theme-neitral-header);
  text-align: center;
  font-family: var(--font-family-main);
  text-decoration: none;
  font-weight: var(--font-bold);
  text-shadow: var(--text-shadow-yellow);
  transition: var(--transition);
  box-sizing: border-box;
  font-size: var(--font-size-header);
}

.header__list a:focus {
  border: 2px solid white;
  color: var(--color-violet);
  text-shadow: none;
  border-radius: var(--border-radius-small);
}

.icon {
  width: 100px;
  height: 100px;
}
